{% extends 'base.html'%}
{%import 'macros.html' as macro%}

{% block content %}
<div class="container">
    <div class="row">
        <!-- displaying  Username-->
        <h3> {{user.full_name | capitalize}} </h3>
        <hr>

        <div class="col-md-9">
            <p>Username: {{user.username}}</p>
        </div>
        <div class="row">
            <div class="col-md-12">
              <h3> Blogs </h3>
              <hr>
               {{macro.displayBlogs(blogs)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
