{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
	<h1 class="text-center">{{ title }}</h1>

	<div class="container" style="padding-bottom: 20px;">
		<a href="{{url_for('main.new_blog')}}" class="btn btn-success">Create Blog</a>
	</div>
	<div class="" style="">
		<p>{{ quotes.quote }}</p>
		Written By: {{ quotes.author }}
	</div>

<!-- <div class="container" style= "font-family: 'Cormorant Upright', serif;"> -->
	<hr>
	<div class="row">
		{{macro.displayBlogs(blogs)}}
	</div>

{% endblock %}
