{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
	<h1 class="text-center">{{ title }}</h1>

	<div class="container" style="padding-bottom: 20px;">
		<a href="{{url_for('main.new_blog')}}" class="btn btn-success">Create Blog</a>
	</div>
	<div class="" style="">
		<p>{{ quotes.quote }}</p>
		Written By: {{ quotes.author }}
	</div>

	<div class="container-fluid">
	    <form class="form-inline ml-2" action="{{url_for('main.subscribe')}}" method="POST">
	        <div class="md-form form-group">
	            <input type="email"  class="form-control " name ="subscriber" style="margin-top: 40px; margin-right: 20px; height: 30px; font-size: 15px; border: none;" placeholder="Email..." required>
	        </div>
	        <div class="md-form form-group">
	            <button class="btn btn-sm btn-info" style="margin-top: 40px; height: 30px;">SUBSCRIBE</button>
	        </div>
	    </form>
	    {% for message in get_flashed_messages() %}
	    <div class="alert alert-success">
	        <button type="button" class="close" style="margin-top:10px;" data-dismiss="alert">&times;</button>
	        {{ message }}
	    </div>
	    {% endfor %}
	</div>

<!-- <div class="container" style= "font-family: 'Cormorant Upright', serif;"> -->
	<hr>
	<div class="row">
		{{macro.displayBlogs(blogs)}}
	</div>

{% endblock %}
